html {
  background-image: url("/assets/background.jpg");
}

header,
footer,
body .content {
  color: white;
  background-color: rgba(71, 107, 121, 0.9);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 3px rgba(255, 255, 255, 0.2), inset 0 0 0 5px rgba(255, 255, 255, 0.3);
  padding: 20px;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

nav a {
  display: block;
  background-color: tomato;
  margin: 0 10px;
  padding: 10px;
  text-decoration: none;
  color: white;
  align-self: center;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

body::before,
body::after {
  content: "";
  width: 200px;
  background-color: transparent;
}

body::before {
  grid-column: 1;
}

body::after {
  grid-column: 3;
}

.content {
  grid-column: 2;
}
