body {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
}

body::before,
body::after {
  display: none;
}

body .content {
  grid-column: 1 / 3;
}

body .buttons {
  grid-column: 3;
  text-align: center;
}

article {
  margin-left: 10%;
  margin-right: 10%;
}
