article {
  margin-left: 10%;
  margin-right: 10%;
}

article h2 {
  text-decoration: underline;
  text-align: center;
}

/* Shared */
.skills div,
.experience div,
.education div {
  border-style: groove;
  border-radius: 5%;
  border-width: 1px;
  border-color: tomato;
  margin: 5px;
  padding: 10px;
}

.summary,
.experience ul li,
.publications li,
.presentations li,
.grants li,
.education ul li,
.achievements ul li {
  text-align: justify;
  margin: 5pt;
}

/* Skills section */
.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.skills div {
  min-width: 0;
}

.skills h3 {
  font-weight: 400;
  font-style: italic;
}

.skills div h3 {
  text-align: center;
}

.skills ul li {
  margin: 5pt;
}

.skills .miscTools ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Experience Section */
.experience h3 {
  display: flex;
  justify-content: space-between;
}

.experience .job-title {
  float: left;
}

.experience .event-date,
.education .event-date {
  float: right;
  font-weight: normal;
}

.experience .company-name,
.education .university-name {
  font-style: italic;
}

/* Publications */
.authors .highlighted-author {
  font-weight: bold;
  color: tomato;
}

.articleTitle {
  text-decoration: underline;
}

.journalTitle {
  font-style: italic;
}

.articleYear {
  font-weight: bold;
}

/* Grants */
ol.grants li span.grant-amount {
  text-decoration: underline;
}

.doi::before,
.preprint-doi::before {
    content: "\a";
    white-space: pre;
}

/* ======================= */
/* Styles for tiny screens */
/* ======================= */

@media (max-width: 600px) {
  .skills .miscTools ul {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767px) {
  .skills {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}

@media (max-width: 920px) {
  .experience div span,
  .education div span {
    float: none !important;
  }

  span.company-name::after,
  span.university-name::after {
    content: "\a";
    white-space: pre;
  }
}
