html {
    height: auto;
    background: linear-gradient(to bottom,
            #d38988 0%,
            #cad5f1 20%,
            #cad5f1 80%,
            #496a79 100%);
    background-color: #496a79;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

body {
    height: 100%;
    margin: 0 15% 0 15%;
}

header {
    margin: 0 10px 10px 0;
    border: 5px solid #333;
    overflow: auto
}

.header-container {
    display: grid;
    grid-template-columns: 128px auto;
    margin: 10px 10px 10px 10px;
}

header img {
    max-width: 100px;
    height: auto;
}
.header-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    text-align: left;
}